<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>

<body>
    <form method='POST' action='/' required>
        <input type="text" placeholder="Choose city" name="city" />
        <button type="submit">Search</button>
    </form>
    <%if( display !== null){ %>
        <div class="grid">
            <p>
                <%= weather.name%>
            </p>
            <p class="text-muted small">
                <%= weather%>
            </p>
        </div>
        <% } %>
</body>

</html>